.technology{
    background-image : url('../../assets/technology/background-technology-desktop.jpg');

    .content{
        width : 95%;
        right : 0;
        margin : 0;
        margin-left : auto;
        .img__Technology{
            display : flex ;
            justify-content : end;
            img{
                height : 400px;
            }
        }
    }

    .numbers{
        ul{
            li{
                border : 1px solid white ;
                width : 70px;
                cursor : pointer;
                height : 70px;
                border-radius : 50%;
                color : white;
                margin : 20px 0;
                font-weight : bold;
                &:hover{
                    background-color : white;
                    color : black;
                }
            }
        }
    }
}

/* media */

@media screen and (max-width : 1000px){
    .technology{
        .content {
            gap: 0rem;
            .title{
                font-size: 5rem;
            } 
        }
    }
}

@media screen and (max-width : 850px){
    .technology{
        background-image: url('../../assets/technology/background-technology-tablet.jpg');
        padding: 200px 0 0 0;
        min-height: 100vh;
        height : max-content;
        .content {
            grid-template-columns: auto;
            gap : 5rem;
            margin: 0 auto;
           .img__Technology img {
                height: auto;
                width: 100%;
            }
         }
}}

@media screen and (max-width : 576px){
    .technology{
        .content {
            
        }
    }
}

